

@media only screen and (max-width: 1599px){
	.w{width:92%;margin:0 auto;}
	.mLeft{margin-left:18px;}
}

@media only screen and (max-width: 1440px){
	/*.news-btm li.otherW{width:360px;background:white;margin-right:45px;overflow:hidden;height:100%;}
	div.otherCan{width:1170px;height:480px;margin:0 auto;overflow:hidden;}
	.news-btm .txt h3{margin-top:0;}*/
	div.achivOtherCan{width:1170px;height:426px;}
	.achiv-btm-l{width:738px;height:100%;}
	.achiv-btm-r{width:402px;height:100%;}
	.smallBannerH{height:383px;}
	.iconPicH{height:383px;}
	.achivCanH{height:786px;}
}

@media only screen and (max-width: 1280px){
	.banner{height:470px;}
	.product-top, .news-top, .achiv-top{height:220px;}
	.product-top h2, .news-top h2, .achiv-top h2{padding-top:43px;}

	.news{height:740px;}
	.news-btm{width:1130px;}
	.news-btm ul{height: 360px;}
	.news-btm li {width: 350px;}
	.product-btm { height: 260px;}
	.proPosition h3 {line-height: 260px;}
	.proPosition div { margin-top: 60px;}
	   
}